/* Styles for CS50w Project 0 */

.navbar {
	background-color: #f1f1f1!important;
}

.image-container {
	min-width: 1176px;
}

.image-search {
	margin-bottom: -25px;
}

.logo {
	display: block;
	margin-top: 7em;
	margin-bottom: 2em;
	margin-right: auto;
	margin-left: auto;
}

.logo-subtext {
	color: #4285f4;
	font: 16px/16px roboto-regular, arial, sans-serif;
	left: 265px;
	position: relative;
	top: -45px;
	white-space: nowrap;
	margin-bottom: ;
}

input[type="text"] {
	border: 1px solid #dfe1e5;
	box-shadow: none;
	border-radius: 24px;
	height: 44px;
	width: 582px;
	min-width: auto;
	padding: 0 2em;
	margin-bottom: 1em;
}

@media (max-width: 767px) {
	input[type="text"] {
		width: 100%;
	}
}

input[type="text"]:hover {
	box-shadow: 0 1px 6px rgba(32,33,36,.28);
	border-color: rgba(223,225,229,0);
}

.submit-row {
	margin 0 0.5em 0 0.5em;
}

.btn {
	height: 36px;
	line-height: 27px;
	background-color: #f8f9fa;
	border: 1px solid #f8f9fa;
	border-radius: 4px;
	color: #3c4043;
	cursor: pointer;
	font-family: arial,sans-serif;
	font-size: 14px;
	margin: 11px 4px;
	min-width: 54px;
	padding: 0 16px;
	text-align: center;
}

.btn:hover {
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	background-color: #f8f9fa;
	border: 1px solid #dadce0;
	color: #202124;
}


