{% extends "scoreboard/layout.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block body %}

    {% if error %}
		<div class="alert alert-danger alert-dismissible fade show">
			<strong>Heads up!</strong> {{ error }}
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>  
	{% endif %}

    <h4 class="row m-2 p-2 justify-content-center">Today's Lineup</h4>
	<div id="games-list" class="row m-2 p-2 justify-content-center">
        <div class="col">
            
        </div>
	</div>

    <table class="table table-striped text-center">
        <thead>
            <tr>
                <th scope="col" class="col-3">Away</th>
                <th scope="col" class="col-1">vs.</th>
                <th scope="col" class="col-3">Home</th>
                <th scope="col" class="col-3">Score</th>
                <th scope="col" class="col-2">Status</th>
            </tr>
        </thead>
        <tbody>
            {% for game in games %}
                <tr id="{{ game.gamePk }}">
                    <td scope="row">{{ game.teams.away.team.name }}</td>
                    <td>vs.</td>
                    <td>{{ game.teams.home.team.name }}</td>
                    <td><span>{{ game.teams.away.score }}</span><span class="ml-3 mr-3">-</span><span>{{ game.teams.home.score }}</span></td>
                    {% if game.linescore.currentPeriod == 0 %}
                        <td class="game-time" data-datetime="{{ game.gameDate }}"></td>
                    {% elif game.status.detailedState != "Final" %}
                        <td class="game-ls">{{ game.linescore.currentPeriodOrdinal }}</td>
                    {% else %}
                        <td class="game-ls">{{ game.status.detailedState }} 
                            {% if game.linescore.currentPeriod > 3 %}
                                ({{ game.linescore.currentPeriodOrdinal }})
                            {% endif %}
                        </td>
                    {% endif %}
                </tr>          
            {% empty %}
                <tr>
                    <td scope="row" colspan="12" class="text-center bg-warning">No games found.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock body %}