{% extends "scoreboard/layout.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block body %}

    {% if error %}
		<div class="alert alert-danger alert-dismissible fade show">
			<strong>Heads up!</strong> {{ error }}
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>  
	{% endif %}

    <div id="message">{{ message }}</div>

	<div class="page-nav row m-2 p-2 justify-content-center">
		<div id="daily-schedule" class="col" style="display:none;">
			<div id="games-list" class="row justify-content-center">
                        <div class="col-3 text-center">
                            <h4>Game Time</h4>
                        </div>                    
                        <div class="col-6 text-center">
                            <h4>Teams</h4>
                        </div>
                        <div id="status" class="col-3 text-center">
                            <h4>Status</h4>
                        </div>
                    </div>
		</div>
	</div>

	<div class="page-nav row m-2 p-2 justify-content-center">
		<form action="" method="get">
			{% csrf_token %}
			{{ form.media }}
			{{ form }}
			<input type="submit" value="Submit">
		</form>
	</div>

	 <div class="page-nav row m-2 p-2 justify-content-center">
		<a href="#">Back to Top</a>
	</div>
{% endblock body %}