{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
        <title>{% block title %}LED Scoreboard Configurator{% endblock %}</title>	
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
		<link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
		<link href="{% static 'scoreboard/styles.css' %}" rel="stylesheet">	
    </head>
    <body class="d-flex flex-column min-vh-100">
	{% load bootstrap4 %}

	{# Load CSS and JavaScript #}
	{#% bootstrap_css %#}
	{#% bootstrap_javascript jquery='full' %#}
	{% block script2 %}
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	{% endblock %}
	
	{# Display django.contrib.messages as Bootstrap alerts #}
	<div class="container-fluid p-0" id="message">{% bootstrap_messages %}</div>
	<div class="container-fluid p-0" id="message">{{ message }}</div>

	{% if error %}
        <div class="container-fluid p-0">
            <div class="alert alert-danger alert-dismissible fade show">
                <strong>Heads up!</strong> {{ error }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>  
        </div>
	{% endif %}
	
		<nav class="navbar navbar-expand-lg bg-dark navbar-dark mb-1">
			<a class="navbar-brand" style="color:rgba(255,255,255,.5)" href="{% url 'index' %}"><strong>LED Scoreboard Configurator</strong></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="collapsibleNavbar">		
				<ul class="navbar-nav m-1">
					{% if user.is_authenticated %}
						<button class="btn btn-sm btn-dark m-1" id="profiles_list" data-url="{% url 'profiles_list' %}">Profiles</button>
					{% endif %}
				</ul>
			</div>
			<div class="collapse navbar-collapse justify-content-end mr-md-2 " id="collapsibleNavbar">
				<ul class="navbar-nav">
					<li class="nav-item dropdown">		
						<a class="nav-link dropdown-toggle text-center" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							New Profile
						</a>
						<div class="dropdown-menu text-center bg-dark p-3" aria-labelledby="navbarDropdownMenuLink">
							{% if user.is_authenticated %}
								{% for board in BOARDS %}
									<button class="btn btn-sm btn-block btn-secondary board-btns" data-url="{% url 'create' board %}">{{ board }}</button>
								{% endfor %}
							{% endif %}
						</div>	
					</li>
					<li class="nav-item dropdown">		
						<a class="nav-link dropdown-toggle text-center" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Account
						</a>
						<div class="dropdown-menu text-center bg-dark p-3" aria-labelledby="navbarDropdownMenuLink">
							{% if user.is_authenticated %}
								<button class="btn btn-sm btn-block btn-secondary" id="admin" data-url="{% url 'index' %}admin">Admin Panel</button>
								<button class="btn btn-sm btn-block btn-secondary" onclick="location.href='{% url 'logout' %}';">Log Out</button>
							{% else %}
								<button class="btn btn-sm btn-block btn-secondary" onclick="location.href='{% url 'login' %}';">Log In</button>
							{% endif %}
						</div>	
					</li>
					<li class="nav-item dropdown">
						{% if user.is_authenticated %}
							<a class="nav-link dropdown-toggle text-center" href="#" id="navbarDropdownMenuLink2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Pi Commands
							</a>
							<div class="dropdown-menu text-center bg-dark p-3" aria-labelledby="navbarDropdownMenuLink2">
								<button class="btn btn-sm btn-block btn-warning" id="stopserver" data-url="{% url 'command_pi' %}">Stop Server</button>
								<button class="btn btn-sm btn-block btn-info" id="reboot" data-url="{% url 'command_pi' %}">Reboot</button>
								<button class="btn btn-sm btn-block btn-danger" id="shutdown" data-url="{% url 'command_pi' %}">Shutdown</button>
							</div>
						{% endif %}
					</li>
					<li class="nav-item text-center ml-lg-1">
						<input id="sb-toggle" type="checkbox" data-toggle="toggle" data-onstyle="success" data-offstyle="secondary" data-url="{% url 'command_pi' %}">
					</li>
				</ul>
			</div>
		</nav>
		
		
		<div class="body container-fluid mt-1 p-0">
		
			{% block body %}
			{% endblock body %}

			{% block settingslist %}
			{% endblock settingslist %}
		</div>

		<div class="body container">
			{% block form %}	
			{% endblock form %}
		</div>

	<footer class="footer border-top mt-auto p-4 text-light bg-dark">
		<div class="container text-center">
			<span class="text-center">
			{% if user.is_authenticated %}
			<div class="card-deck">

				<div id="profile-card" class="card text-white bg-secondary mt-3 mb-3"  data-url="{% url 'active_profile' %}">
					<div class=""><h4 class="card-header text-smaller">Active Profile</h4></div>
					<div class="card-body" style="display: grid;">
						<h5 class="card-title">Loading . . .</h5>
						<div id="board-type" class="card-text" style="display: contents;">
						</div>
						<div id="scoreboard-status" class="card-text row" style="display: contents;">
							<p class="m-0 status"></p>
						</div>
					</div>
				</div>
	
				<div id="monitor-card" class="card text-white bg-secondary mt-3 mb-3" data-url="{% url 'resources' %}" data-interval="{{ config.MONITOR_INTERVAL }}">
					<div class=""><h4 class="card-header text-smaller">Resource Monitor</h4></div>
					<div class="card-body">
						<div id="pi-stats" class="card-text row">
						</div>
					</div>
				</div>

			</div>
			{% endif %}
			</span>
			<div class="row">
				<div class="col">
					<h5 class="m-1"><a href="https://github.com/sflems/nhl-led-scoreboard-webgui/blob/main/README.md" class="text-info" target="blank">Readme</a></h5>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<p id="version" class="m-1"><a href="https://github.com/sflems/nhl-led-scoreboard-webgui/" class="text-info" target="blank">{{ VERSION }}</a> <a href="https://github.com/sflems/nhl-led-scoreboard-webgui/releases/latest" {% if not UPDATE %}hidden{% endif %} class="badge badge-success text-small">UPDATE AVAILABLE</a></p>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<small class="text-secondary">View the <a href="https://github.com/riffnshred/nhl-led-scoreboard" class="text-info" target="blank">NHL LED Scoreboard</a> project on GitHub. Created by <a href="https://github.com/riffnshred" class="text-info" target="blank">@riffnshred</a>.</small>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<small class="text-secondary">Web GUI created by <a href="https://github.com/sflems/" class="text-info" target="blank">@sflems</a>.</small>
				</div>
			</div>
		</div>
	</footer>

	{% block script %}
		<script src="{% static 'scoreboard/scoreboard.js' %}"></script>
		<script src="{% static 'scoreboard/jsoneditor.js' %}"></script>
		<script src="{% static 'scoreboard/js.cookie.js' %}"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
	{% endblock %}

    </body>
</html>
