{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}LED Scoreboard Configurator{% endblock %}</title>
		
		<link href="{% static 'scoreboard/styles.css' %}" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	
    </head>
    <body>
	
	{% load bootstrap4 %}

	{# Load CSS and JavaScript #}
	{% bootstrap_css %}
	{% bootstrap_javascript jquery='full' %}
	
	{# Display django.contrib.messages as Bootstrap alerts #}
	{% bootstrap_messages %}
	<div id="message">{{ message }}</div>

		<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
			<a class="navbar-brand" style="color:rgba(255,255,255,.5)" href="{% url 'index' %}"><strong>LED Scoreboard Configurator</strong></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="collapsibleNavbar">		
				<ul class="navbar-nav">
					{% if user.is_authenticated %}
						<button class="btn btn-sm btn-dark" id="index" data-url="{% url 'index' %}">Home</button>
						<button class="btn btn-sm btn-dark" id="profiles_list" data-url="{% url 'profiles_list' %}">Profiles</button>
						<button class="btn btn-sm btn-dark" id="settings_create" data-url="{% url 'create' %}">New Profile</button>
						<button class="btn btn-sm btn-dark" id="admin" data-url="{% url 'index' %}admin">Admin</button>
					{% endif %}
				</ul>
			</div>
			<div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
				<ul class="navbar-nav">
					{% if user.is_authenticated %}
						<button class="btn btn-sm btn-warning m-1" id="stopserver" data-url="{% url 'command_pi' %}">Stop Server</button>
						<button class="btn btn-sm btn-info m-1" id="reboot" data-url="{% url 'command_pi' %}">Reboot</button>
						<button class="btn btn-sm btn-danger m-1" id="shutdown" data-url="{% url 'command_pi' %}">Shutdown</button>
						<button class="btn btn-sm btn-dark m-1" onclick="location.href='{% url 'logout' %}';">Log Out</button>

					{% else %}
						<button class="btn btn-sm btn-dark" onclick="location.href='{% url 'login' %}';">Log In</button>
					{% endif %}
				</ul>
			</div>
		</nav>
		<br><br>
        
        <div class="body container">
            {% block body %}
            {% endblock body %}

			{% block settingslist %}
			{% endblock settingslist %}
        </div>
		
		{% bootstrap_javascript jquery='full' %}
		{% block script %}
			<script src="{% static 'scoreboard/scoreboard.js' %}"></script>
   			<script src="{% static 'scoreboard/jsoneditor.js' %}"></script>
			<script src="{% static 'scoreboard/js.cookie.js' %}"></script>
		{% endblock %}
    </body>
</html>
