{% extends "scoreboard/layout.html" %}

{% block form %}
    <div class="page-nav row mt-2 mb-2 justify-content-center">
        <div class="col">
            <h3 class="mb-4">Login</h3>

            <form action="{% url 'login' %}" method="post" class="m-3">
                {% csrf_token %}
                <div class="form-group">
                    <input autofocus class="form-control" type="text" name="username" placeholder="Username">
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="password" placeholder="Password">
                </div>
                <input class="btn btn-info" type="submit" value="Login">
            </form>
        </div>
    </div>

{% endblock %}