{% extends "scoreboard/layout.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block form %}
	<div class="page-nav row mt-3 justify-content-center">
		<div class="col">
			<h3 class="form-title text-center">Create a Profile</h3>
				<form id="" class="m-n1" action="{% url 'create' boardtype %}" method="post">
				{% csrf_token %}
				{{ detailform.name|as_crispy_field }}
				{{ detailform.isActive|as_crispy_field }}
				{{ JSONform.media }}
				{{ JSONform }}
				<input type="submit" value="Submit">
			</form>
		</div>
	</div>

	 <div class="page-nav row justify-content-center mb-3">
		<a href="#">Back to Top</a>
	</div>
{% endblock form %}