{% extends "network/layout.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block body %}
	<div id="message">{{ message }}</div>

	<div id="profile-view">
	</div>

	{% if user.is_authenticated %}
		<div id="compose-view">
			<h3> Network - Posts </h3>
			<div class="row no-gutters border rounded overflow-hidden mb-4 p-4 shadow-sm ">
				<form method="POST" id="compose-form">
					{% csrf_token %}
					<div class="form-group">
						<textarea id="compose-content" class="form-control mb-4" rows="5" cols="200" placeholder="Create a new post..."></textarea>
					</div>
					<button id="submit" class="btn btn-sml btn-primary float-right">Submit Post</button>
				</form>
			</div>
		</div>
	{% endif %}
	<br>
	<div id="posts-view">
		<div class="posts-list">
			{% include "network/posts.html"%}	
		</div>
	</div>

	<div class="pagination container justify-content-center">
		<span class="step-links">
			{% if page_obj.has_previous %}
				<a href="?page=1">&laquo; First |</a>
				<a href="?page={{ page_obj.previous_page_number }}"> Previous</a>
			{% endif %}

			<strong class="current">
				Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
			</strong>

			{% if page_obj.has_next %}
				<a href="?page={{ page_obj.next_page_number }}">Next |</a>
				<a href="?page={{ page_obj.paginator.num_pages }}"> Last &raquo;</a>
			{% endif %}
		</span>
	</div>
{% endblock body %}