{% extends "network/layout.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block body %}
	<div id="message">{{ message }}</div>

	<div id="profile-view">
		{% block profile %}
		{% endblock profile %}
	</div>

	{% if user.is_authenticated %}
		<div id="compose-view">
			<h3 id="posts-title"> New Post </h3>
			<div class="row no-gutters border rounded overflow-hidden p-4 shadow-sm ">
				<form method="POST" id="compose-form">
					{% csrf_token %}
					<div class="form-group">
						<textarea id="compose-content" class="form-control mb-4" rows="5" cols="200" placeholder="What's the gist?"></textarea>
					</div>
					<button id="submit" class="btn btn-sml btn-primary float-right">Submit Post</button>
				</form>
			</div>
		</div>
	{% endif %}
	<br>
	<div id="posts-view">
		<div class="posts-list">
			{% include "network/posts.html"%}	
		</div>
	</div>
	
	<div class="page-nav row justify-content-center">
		<nav class="" aria-label="Page navigation">
			<ul class="pagination nav nav-fill">
				{% if page_obj.has_previous %}
					<li class="page-item"><a class="page-link" href="?page=1">&laquo; First</a></li>
					<li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Prev.</a></li>
				{% endif %}

				<li class="page-item disabled"><a class="page-link" href="#">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a></li>

				{% if page_obj.has_next %}
					<li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
					<li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}"> Last &raquo;</a></li>
				{% endif %}
			</ul>
		</nav>
	</div>
	<div class="page-nav row m-2 justify-content-center">
		<a href="#">Back to Top</a>
	</div>
{% endblock body %}