asgiref==3.3.1
attrs==20.3.0
beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==4.0.0
colorzero==1.1
Django==3.1.3
django-bootstrap4==2.3.1
django-crispy-forms==1.10.0
django-jsonforms==1.1.2
django-prettyjson==0.4.1
gpiozero==1.5.1
gunicorn==20.0.4
idna==2.10
importlib-metadata==2.1.1
jsonschema==3.2.0
psutil==5.8.0
pyrsistent==0.17.3
pytz==2020.5
requests==2.25.1
secret-key-generator==0.0.7
six==1.15.0
soupsieve==2.1
sqlparse==0.4.1
standardjson==0.3.1
urllib3==1.26.3
whitenoise==5.2.0
zipp==3.4.0
