body {
    margin: 0;
    background-color: white;
}

code {
    white-space: pre;
}

h1 {
    margin-top: 0px;
    padding-top: 20px;
}

textarea {
    height: 50vh;
    width: 80%;
}

.main {
    padding: 3em;
}

.search {
    width: 100%;
    font-size: 15px;
    line-height: 15px;
}

.sidebar {
    background-color: #f0f0f0;
    height: 100vh;
    padding: 3em;
}

@media (max-width: 767px) {
	.sidebar {
		height: 19vh;
	}
}

.sidebar h2 {
    margin-top: 10px;
}

#id_title {
	width: 100%;
	margin-bottom: 1em;
}

#id_content {
	width: 100%;
	margin-bottom: 1em;
}