{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings in {{ category }}:</h2>
	<br>
		<ul class="listings">
			{% for listing in listings %}
				<li>
					<img src="{{ listing.image_URL }}" style="max-height:200px"/>
					<a href="{% url 'listing' listing.id %}">{{ listing.title }}</a>
					{% if listing.current_bid %}
						<strong>Current Bid: ${{ listing.current_bid }}</strong>
					{% else %}
						<strong>Current Bid: ${{ listing.start_bid }}</strong>
					{% endif %}
					<hr>
				</li>
			{% endfor %}
		</ul>
{% endblock %}