{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
	<br>
		<ul class="listings">
			{% for listing in listings %}
				<li class="row">
					<div class="col-4">
						<img src="{{ listing.image_URL }}" style="max-height:200px; max-width:100%"/>
					</div>
					<div class="col">
						<a href="{% url 'listing' listing.id %}">{{ listing.title }}</a>
						<p>Listed by: {{ listing.user|title }}</p>
					</div>
					<div class="col-2">
						{% if listing.current_bid %}
							<strong>Current Bid: ${{ listing.current_bid }}</strong>
						{% else %}
							<strong>Current Bid: ${{ listing.start_bid }}</strong>
						{% endif %}
						<p>No. of bids: {{ listing.bid_list.all.count }}</p>
					</div>
					<hr>
				</li>
			{% endfor %}
		</ul>
{% endblock %}