{% extends "auctions/layout.html" %}

{% block body %}

    <h2>{{ listing.title }}</h2>
	<p>ID#: {{  listing.id  }}</p>
	<div class="row">
		<div class="col-lg-3">
			<img src="{{ listing.image_URL }}" style="max-width:100%;max-height:100%"/>
		</div>
		<div class="col-lg-6">
			<p>{{ listing.description }}</p>
		</div>
		<div class="col-2">
			{% if listing.current_bid %}
				<strong>Current Bid: ${{ listing.current_bid }}</strong>
			{% else %}
				<strong>Starting Bid: ${{ listing.start_bid }}</strong>
			{% endif %}
			
			<p>No. of bids: {{ listing.bid_list.all.count }}</p>
			
			{% if user.is_authenticated and listing.is_active and not user == listing.user %}
				<form action="{% url 'listing' listing.id %}" class="col-auto" method="POST">
					{% csrf_token %}
					{{  form  }}
					<input type="submit" value="Submit Bid"/>
				</form>
			{% elif user.is_authenticated and listing.is_active and user == listing.user %}
				<strong>Close Listing</strong>
			{% elif user.is_authenticated and listing.current_bid.user == user %}
				<strong>You won!</strong> <br>
				<p>Auction has ended.</p>
			{% else %}
				<p>Auction has ended.</p>
			{%  endif %}		
		</div>
	</div>
	<hr>
	{% if user.is_authenticated %}
		<div class="row">
			<div class="col">
				{% if listing in watchlist.items.all %}
					<a href="{% url 'watchlist_remove' listing.id %}">Remove item from Watchlist</a>
				{% else %}
					<a href="{% url 'watchlist_add' listing.id %}">Add item to Watchlist</a>
				{% endif %}
			</div>
		</div>
	{% endif %}
	<hr>
	<div class="row">
		<div class="col">
			<h2>Comments</h2>
			{% for comment in listing.comment_list.all %}
			<p>{{ comment.comment }} by {{ comment.user }}</p>
			{% endfor %}
		</div>
	</div>
	{% if user.is_authenticated %}
		<div class="row">
			<div class="col">
				<form action="{% url 'listing' listing.id %}" class="col-2" method="POST">
					{% csrf_token %}
					{{  commentform  }}
					<input type="submit" value="Submit"/>
				</form>
			</div>
		</div>
	{% endif %}
	
{% endblock %}