{% extends "auctions/layout.html" %}

{% block body %}

    <h2>{{ listing.title }}</h2>
	<p>ID#: {{  listing.id  }}</p>
	<div class="row">
		<div class="col-lg-3">
			<img src="{{ listing.image_URL }}" style="max-width:100%;max-height:100%"/>
		</div>
		<div class="col-lg-5">
			<p>{{ listing.description }}</p>
		</div>
		<div class="col-3">
		{% if listing.current_bid %}
			<strong>Current Bid: ${{ listing.current_bid }}</strong>
		{% else %}
			<strong>Starting Bid: ${{ listing.start_bid }}</strong>
		{% endif %}
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-4">
			<form action="{% url 'listing' listing.id %}" class="col-4" method="POST">
				{% csrf_token %}
				{{  form  }}
				<input type="submit" value="Submit Bid"/>
			</form>
		</div>
	</div>
{% endblock %}