{% extends "auctions/layout.html" %}

{% block body %}
	{% if user.is_authenticated %}
		<div class="row">
			<div class="col">
				<h2>{{ watchlist.user|title }}'s Watchlist</h2>
				<ol>
					{% if watchlist.items.all %}
						{% for item in watchlist.items.all %}
							<li><a href="{% url 'listing' item.id %}">{{ item.title }}</a></li>
						{% endfor %}
					{% else %}
						<p>Watchlist is empty. <a href="{% url 'index' %}">View Active Listings</a></p>
					{% endif %}
				</ol>
			</div>
		</div>
	{% else %}
		<p><a href="{% url 'login' %}">Login</a> to view watchlist.</p>
	{% endif %}
	
{% endblock %}