.truncate {
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 5;
}

.btn-link:focus {
	box-shadow: none!important;
}

.btn-light:focus {
  border-color: #f8f9fa!important;
  background-color: #f8f9fa!important;
  box-shadow: none!important;
}

.btn-light:hover {
    color: #212529!important;
    background-color: #f8f9fa!important;
    border-color: #f8f9fa!important;
}

p.profile {
	cursor: pointer;
}