/* Config Modals */
pre {
    white-space: pre-wrap;
}

div#configModal div.modal-body {
    align-self: center;
}

@media (max-width: 575.98px) {
    div#configModal div.modal-body {
        font-size: 50%;
    }
}

@media (max-width: 991.98px) {
    .modal-dialog {
        position: relative!important;
        max-width: 95%!important;
        margin: .5rem auto!important;
        pointer-events: none!important;
    }
}

/* Alerts */
.alert {
    margin-bottom: 0!important;
}

.alert .close {
    margin-top:-0.25rem;
}

/* Tables */
.table-nostriped {
    background-color:transparent!important;
}

.table-nested {
    margin: auto;
    width: 50% !important;
}

/* Json Forms */
h3.card-title.je-object__title label {
    padding-top:1rem;
    margin-bottom:-1rem;
}

label[for=id_json] {
    display: none;
}

.json-editor-btntype-add {
    margin-left:1rem;
}

.json-editor-btntype-add, .json-editor-btntype-deletelast, .json-editor-btntype-deleteall {
    margin-top:-0.5rem;
}

.json-editor-btntype-editjson {
    margin-top:-0.25rem;
    border-radius: .2rem!important;
}